/* ejemplo1_dark.css */
/* Estilos "base" del sitio */
body{
	text-align: center;
	background-color: black;
	color: white;
}
ul{
	list-style: disc;
	padding-left: 20px;
	text-align: left; /* Para que las viñetas se vean mejor alineadas */
}
table {
	margin: 20px auto;
	border-collapse: collapse;
	color: white;
}
th, td {
	border: 1px solid white;
	padding: 10px 15px;
}